*.git
*.cache

data-ftn
data-pmf
data-pravni
data-uns

ftn_app/uploads/images
ftn_app/slike
pmf_app/uploads/images
pmf_app/slike
pravni_app/uploads/images
pravni_app/slike

__pycache__

**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md